body 
{
    background-color: #282c34;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    text-align: center;
}

.inlineElem
{
    display: inline-block;
    margin-top: 20px;
}

button
{
    background-color: dimgrey;
    color: white;
    width: 120px;
    height: 120px;
    border: none;
    font-size: 30px;
    border-radius: 10%;
    margin-left: 30px;
    vertical-align: 50%;
    text-align: center;
}

button:hover
{
    cursor: pointer;
}

.video
{
    margin: 20px;
}

img
{
    display: block;
    width: 100%;
}

ul.MainBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    width: 100%;
    height: auto;
    overflow: auto;
}

li.MainBar
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

li a.MainBar
{
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

li a.MainBar:hover
{
    background-color: #111;
}

.sticky
{
    position: fixed;
    top: 0;
}

#content
{
    padding-top: 20px;
    padding-bottom: 50%;
}

#content.content
{
    padding-top: 55px;
}

p 
{
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}