body 
{
    background-color: #282c34;
    color: white;
    padding: 20px;
    font-family: Arial;
    text-align: center;
}

.inlineElem
{
    display: inline-block;
}

button
{
    background-color: dimgrey;
    color: white;
    width: 120px;
    height: 120px;
    border: none;
    font-size: 30px;
    border-radius: 10%;
    margin-left: 30px;
    vertical-align: 50%;
    text-align: center;
}

.video
{
    margin: 20px;
}