body 
{
    background-color: #282c34;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    text-align: center;
}

.inlineElem
{
    display: inline-block;
    margin-top: 20px;
}

button
{
    background-color: dimgrey;
    color: white;
    width: 120px;
    height: 120px;
    border: none;
    font-size: 30px;
    border-radius: 10%;
    margin-left: 30px;
    vertical-align: 50%;
    text-align: center;
}

button:hover
{
    cursor: pointer;
}

.video
{
    margin: 20px;
}

ul.MainBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    width: 100%;
    height: auto;
}

li.MainBar
{
    /* display: inline; */
    float: left;
}

li a.MainBar
{
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

li a.MainBar:hover
{
    background-color: #111;
}